 @import "tailwindcss";

 @keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    #f3f3f3 25%,
    #e0e0e0 37%,
    #f3f3f3 63%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}